/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label  {
	fontFamily: "Sky";
	fontWeight:bold;
	color: #000000
		
}
s|Button {
	skinClass: ClassReference("skins.ButtonSky");
}
s|FormItem {
	fontSize:28;
	skinClass: ClassReference("skins.SkyFormItem"); 
}
s|FormHeading {
	color: #cc0000
}
s|TitleWindow {
	skinClass: ClassReference("skins.SkyTitle");
	
}
s|TextInput {
	paddingLeft: 20;
	paddingRight: 20;
}